

body{
    font-family: 'Noto Sans Khmer', sans-serif;
    /* font-family: 'Content', cursive;
     */
}
h1,h2,p,ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    box-sizing: border-box;  
}
.bar1{
    padding: 15px;
    background-color: black;
}
.ads{
    text-align: center;
}
.ads img{
    height: 90px;
}
.logo img{
    height: 90px;
}
.menu-bar{
    background-color: red;
}
.menu ul { 
    display: flex;
}
.menu ul a{
display: block;
text-decoration: none;
font-size: 17px;
color:white;
padding: 15px;
font-weight: 400;
font-family: Arial, Helvetica,'Angkor', cursive;
}
.menu .bntmenu{
    display: none;
}
.cate-contanier{
    margin-top: 10px;
}
.new-container{
}
.new-container .box1{
 width: 100%;
  float: left;
}
.box1 .title-box1{
    width: 100%;
    float: left;
    border-bottom: 2px solid hotpink;
    
 }
  .box1 .title-box1 h1{
    background-color: brown;
    color:white;
    float: left;
    font-family:'Angkor', cursive;
    padding: 10px;
    font-size: 15px;
 }
 .box1 .news-box{
     padding: 15px;
    width:100%;
    float: left;
    box-shadow: 2px 2px 3px rgb(240, 150, 14);
 }
 .box1 .news-box .item-1{
    width :49%;
    height: 300px;
    float: left;
 }
 .box1 .news-box .item-1:nth-child(2){
   margin-left: 2%;
 }
 .box1 .news-box .item-1 .img-box{
    width: 100%;
    height: 70%;
    background-color: aqua;
 }
 .box1 .news-box .item-1 .img-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
 }
 .box1 .news-box .item-1 .tex-box{
    width: 100%;
    height: 30%;
    font-size: 17px;
    padding: 10px;
    background-color: aquamarine;
 }
 .box1 .news-box .item-2{
    height: 170px;
    width: 100%;
    float: left;
    margin-top: 10px;
 }
 .box1 .news-box .item-2 .img-box{
    width: 35%;
    height: 100%;
    float: left;
    background-color: brown;
 }
 .box1 .news-box .item-2 .img-box img{
    width:100%;
    height:100%;
    object-fit:cover;
 }
 .box1 .news-box .item-2 .tex-box{
    width: 64%;
    height: 100%;
    float: left;
    margin-left: 1%;
    padding-top:4px;
    background-color: rgba(137, 171, 171, 0.53);
 }
 .box1 .news-box .item-2 .tex-box h1{
    font-size: 17px;
    padding: 10px;
    font-family:'Angkor', cursive;
 }
 .box1 .news-box .item-2 .tex-box span{
    font-size: 13px;
    border-bottom:  2px solid seagreen;
    display:block;
    padding-bottom: 5px;
    margin-left: 10px;
    color:blue;

 }
 .box1 .news-box .item-2 .tex-box p{
    font-weight: 400;
    font-size: 15px;
    color:brown;
    margin-top: 5px;
    margin-left: 10px;
 }
.ads-container{

}
.ads-container .box1 ul li{
    margin-bottom: 8px;
}
.ads-container .box1{
    width: 100%;
}
.ads-container .box1 ul li a{
    display: block;
}
.ads-container .box1 ul li a img{
    width: 100%;
}
.ads-container .box1 ul iframe{
    width:100%;
}
.ads-container .box1 img{
    width: 100%;
    height:100%;
}






/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.ads img{
    height: 80px;
    }
.logo img{
    height: 80px;
    }
.menu ul a{
    font-size: 14px;
    padding: 12px;
        }
.box1 .news-box .item-1{
    height: 262px;
         }
.box1 .news-box .item-1 .tex-box{
    font-size: 15px;
 }
 .box1 .news-box .item-1 .tex-box{
     font-size: 14px;
 }
 .box1 .news-box .item-2{
     height: 140px;
 }
 .box1 .news-box .item-2 .tex-box h1{
     font-size: 16px;
 }
 .box1 .news-box .item-2 .tex-box p{
     font-size: 14px;
 }
 
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.ads img{
        height: 60px;
    }
.logo img{
        height: 60px;
    }
   
.menu ul a{
        font-size: 10px;
         padding: 10px;
        }
.box1 .news-box .item-1{
            height: 250px;
         }
.box1 .news-box .item-1 .img-box{
            height: 50%;
    }
.box1 .news-box .item-1 .tex-box{
            height: 50%;
            font-size: 14px;
 }
.box1 .news-box .item-2{
   height: 350px;
   width: 100%;
}
.box1 .news-box .item-2 .img-box{
    width: 100%;
    height:60%;
}
 .box1 .news-box .item-2 .tex-box{
    width: 100%;
    height: 40%;
    margin: 0;
 }
 .box1 .news-box .item-2 .tex-box h1{
    font-size: 14px;
}
.box1 .news-box .item-2 .tex-box p{
    font-size: 13px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
.bar2{
    max-width: 100%;
}
.ads img{
    height: 50px;
}
.logo img{
    height: 50px;
}
.menu .bntmenu{
    display: block;
}
.menu ul li:not(.bntmenu){
    display: none;
}
.cate-contanier{
    max-width: 100%;
}
.box1 .news-box .item-2{
   width: 49%;
   height: 300px;
}
.box1 .news-box .item-2:nth-child(even){
  margin-left: 2%;
}
.box1 .news-box .item-2 .img-box{
    width: 100%;
    height:60%;
}
 .box1 .news-box .item-2 .tex-box{
    width: 100%;
    height: 40%;
    margin: 0px;
 }
 .box1 .news-box .item-2 .tex-box h1{
    font-size: 14px;
}
.box1 .news-box .item-2 .tex-box p{
    font-size: 12px;
    padding:8px;
}
.box1 .news-box .item-2 .tex-box p{
    display: none;
}
.box1 .news-box .item-2 .tex-box span{
    display: none;
}

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .logo{
        text-align: center;
    }
    .ads{
        text-align: center;
        margin-top: 10px;
    }
    .ads img{
        height: 50px;
    }
    .logo img{
        height: 50px;
    }
    .menu .bntmenu{
        display: block;
    }
    .menu ul li:not(.bntmenu){
        display: none;
    }
    .box1 .title-box1 h1{
        font-size: 13px;
     }
     .box1 .news-box .item-1{
        height: 230px;
     }
.box1 .news-box .item-1 .img-box{
        height: 60%;
}
.box1 .news-box .item-1 .tex-box{
        height: 40%;
        font-size: 14px;
}
.box1 .news-box .item-2{
    width: 49%;
    height: 230px;
 }
 .box1 .news-box .item-2:nth-child(even){
   margin-left: 2%;
 }
 .box1 .news-box .item-2 .img-box{
     width: 100%;
     height:60%;
 }
  .box1 .news-box .item-2 .tex-box{
     width: 100%;
     height: 40%;
     margin: 0px;
  }
  .box1 .news-box .item-2 .tex-box p{
    display: none;
  }
  .box1 .news-box .item-2 .tex-box span{
    display: none;
  }

  .box1 .news-box .item-2 .tex-box h1{
     font-size: 17px; 
     padding:8px; 

 }

}
